/*
 * Loading bar (source: http://codepen.io/brunjo/pen/XJmbNz)
 */
.loader {
  height: 4px;
  width: 100%;
  left: 0px;
  top: 0px;
  position: fixed;
  overflow: hidden;
  background-color: #ddd;
  z-index: 999;
}

.loader:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}
@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}


button.vote {
  border: none;
  background: inherit;
  height: 20vh;

  background-repeat: no-repeat;
  background-position-x: 50%;
  color: transparent;
}

button.vote.unhappy {
  animation-delay: 3s;
  background-image: url("./1f61e.svg");
}
button.vote.neutral {
  animation-delay: 4s;
  background-image: url("./1f610.svg");
}
button.vote.happy {
  animation-delay: 5s;
  background-image: url("./1f603.svg");
}

button.vote {
  animation: spin 12s ease-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  0.5% {
    transform: rotate(20deg);
  }
  1% {
    transform: rotate(0deg);
  }
  1.5% {
    transform: rotate(-20deg);
  }
  2% {
    transform: rotate(0deg);
  }
}


#thanks > div {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

#thanks span {
  display: inline-block;
  margin-right: .5em;
}
#thanks span.size1 { font-size: 1.3rem; }
#thanks span.size2 { font-size: 1.7rem; }
#thanks span.size3 { font-size: 2.1rem; }


#charts .ct-series-a .ct-bar {
  stroke: #f05b4f;
}

#charts .ct-series-b .ct-bar {
  stroke: #f4c63d;;
}

#charts .ct-series-c .ct-bar {
  stroke: #129E17;
}