html, body {
  background: darkgray;
}

button {
  font-size: 5em;
}

#thanks span {
  margin-right: 2em;
}

#charts .ct-series-a .ct-bar {
  stroke: #f05b4f;
}

#charts .ct-series-b .ct-bar {
  stroke: #f4c63d;;
}

#charts .ct-series-c .ct-bar {
  stroke: #129E17;
}