button.vote {
  border: none;
  background: inherit;
  height: 20vh;

  background-repeat: no-repeat;
  background-position-x: 50%;
  color: transparent;
}

button.vote.unhappy {
  background-image: url("./1f61e.svg");
}
button.vote.neutral {
  background-image: url("./1f610.svg");
}
button.vote.happy {
  background-image: url("./1f603.svg");
}

#thanks span {
  margin-right: 1em;
}

#charts .ct-series-a .ct-bar {
  stroke: #f05b4f;
}

#charts .ct-series-b .ct-bar {
  stroke: #f4c63d;;
}

#charts .ct-series-c .ct-bar {
  stroke: #129E17;
}